aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
asgiref==3.11.1
attrs==26.1.0
Django==6.0.5
djangorestframework==3.17.1
frozenlist==1.8.0
idna==3.18
multidict==6.7.1
pillow==12.2.0
propcache==0.5.2
sqlparse==0.5.5
tzdata==2026.2
yarl==1.24.2
